body {
  background-color: #f0f0f0;
  font-family: 'Pokemon Solid', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-section, .history-section {
  width: 80%;
  margin: 2rem 0;
}

.poke-container, .poke-history {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.poke-card, .team-container .poke-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #ccc;
  margin: 1rem;
  padding: 1rem;
  width: 150px;
  text-align: center;
}

.poke-card img {
  width: 100px;
  height: auto;
}

input, button {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
}

.team-container h5 {
  width: 100%;
  text-align: center;
}
